*{
    padding: 0;
    margin: 0;
    miax-height: 100vh;
    background: hsl(0, 0%, 8%);
}

.container{
    background: hsl(0, 0%, 12%);
    margin-top: 3%;
    margin-left: 37.5%;
    border-radius: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

img{
    margin-top: 50px;
    border-radius: 50%;
    margin-bottom: 5%;
    width: 100px;
}

h1{
    color: hsl(0, 0%, 100%);
    margin-bottom: 2%;
    font-family: inter;
    font-size: 24px;
    font-weight: 400;
    background-color: hsl(0, 0%, 12%);
}

h3{
    background-color: hsl(0, 0%, 12%);
    color: hsl(75, 94%, 57%);
    font-family: inter;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 7%;
}

h2{
    font-family: inter;
    font-size: 14px;
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    margin-bottom: 5%;
}

a{
    text-decoration: none;
    background: hsl(0, 0%, 20%);
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: hsl(0, 0%, 100%);
    font-family: inter;
    font-size: 14px;
    font-weight: 600;
    transition: .5s;
}

a:hover{
    background: hsl(75, 94%, 57%);    ;
    color: black;
}

.fm{
    padding-left: 77.5px;
    padding-right: 77.5px;
}

.li{
    padding-left: 105px;
    padding-right: 105px;
}

.ig{
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 20px;
}

/* .footer h2{
    background: hsl(0, 0%, 8%);
    margin-left: 48.5%;
    font-family: inter;
    color: hsl(75, 94%, 57%);
    padding-bottom: -20px;
} */

@media screen and (max-width: 1097px) {
    .container{
        background: hsl(0, 0%, 12%);
        margin-top: 20%;
        border-radius: 10px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
    }
}

@media screen and (max-width: 375px) {
    .container{
        background: hsl(0, 0%, 12%);
        margin-top: 20%;
        border-radius: 10px;
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 17.5%;
    }

    img{
        width: 70px;
    }

    h1{
        font-size: 17px;
    }

    h3{
        font-size: 10px;
    }

    h2{
        font-size: 10px;
    }

    a{
        padding: 6px 70px;
    }

    .fm{
       padding: 6px 37px;
    }
    
    .li{
        padding: 6px 65px;
    }
    
    .ig{
        padding: 6px 60px;
        margin-bottom: 20px;
    }
}